mixin button({ isButton=true, title="", isDefault=false, isWhite=false })
  -
    const buttonWhite = isWhite ? ' button_white' : '';
    const buttonInsideSpan = 'button__insideSpan';
    const spanDefault = isDefault ? ' button__insideSpan_default' : '';
    const spanWhite = isWhite ? ' button__insideSpan_white' : '';


  button&attributes({
    class: [ "button", buttonWhite ] })
    if isButton
      span&attributes({
        class: [ "button__insideSpan", spanDefault, spanWhite ]
       }) #{title}
    else 
      span.button__insideSpan #{title}
    //- if options.arrow
    //-   span.button__arrow
