mixin button({ btnTitle="", spanTitle="", withArrow=false, isWhite=false, btnHover=false })
  -
    const buttonAroow = withArrow ? " button__arrow" : "";
    const buttonHover = btnHover ? ' button_hover' : '';

  button&attributes({
      class: [ "button", buttonAroow, buttonHover ] 
    }) #{btnTitle}
    if isWhite 
      span.button_white #{spanTitle}
