mixin button({ buttonLink=true, btnTitle="", withArrow=false, isWhite=false, btnHover=false, linkHover=false, btnId="", href="" })
  -
    const buttonWhite = isWhite ? ' button__link_white' : '';
    const buttonHover = btnHover ? ' button_hover' : '';
    const buttonArrow = withArrow ? " button__arrow" : "";
    const hoverLink = linkHover ? ' button__title_hover' : '';


  if buttonLink
    div&attributes({
      class: [ "button", buttonHover ],
      "data-btn": btnId,
    }) 
      a&attributes({
        class: [ "button__link", buttonWhite, buttonArrow ],
        href: href,
        }) #{btnTitle}
  else
    a&attributes({
      class: [ "button__title", hoverLink ],
      "data-btn": btnId,
    }) #{btnTitle}
