mixin button({ buttonLink=true, btnTitle="", withArrow=false, isWhite=false, btnHover=false, btnLinkHover=false, btnId="", href="" })
  -
    const buttonWhite = isWhite ? ' button__link_white' : '';
    const buttonHover = btnHover ? ' button_hover' : '';
    const buttonArrow = withArrow ? " button__arrow" : "";
    const buttonLinkHover = btnLinkHover ? ' button_link_onlyTitle_hover' : '';


  if buttonLink
    div&attributes({
      class: [ "button", buttonArrow, buttonHover ],
      "data-btn": btnId,
    }) 
      a&attributes({
        class: [ "button__link", buttonWhite, buttonArrow ],
        href: href,
        }) #{btnTitle}
  else
    a&attributes({
      class: [ "button__link", "button__link_onlyTitle", buttonLinkHover ], 
      "data-btn": btnId,
    }) #{btnTitle}
