mixin button({ button=true, btnTitle="", spanTitle="", withArrow=false, isWhite=false, btnHover=false, btnLinkHover=fallse, btnId="" })
  -
    const buttonAroow = withArrow ? " button__arrow" : "";
    const buttonHover = btnHover ? ' button_colored_hover' : '';
    const buttonLinkHover = btnLinkHover ? ' button_hover' : '';

  if button
    button&attributes({
      class: [ "button", "button_colored", buttonAroow, buttonHover ],
      "data-btn": btnId,
    }) #{btnTitle}
      if isWhite 
        span.button_white #{spanTitle}
  else
    a&attributes({
      class: [ "button", buttonLinkHover ], 
      "data-btn": btnId,
    }) #{btnTitle}
