mixin dropdown(options)
  -
    let idDropdown = options.idDropdown
    let itemTitleOne = options.itemTitleOne
    let itemTitleTwo = options.itemTitleTwo

  .dropdown
    .dropdown__label= options.label
    .dropdown__default
    .dropdown__expand
      .dropdown__item
        .dropdown__item-title-one= options.itemTitleOne
        .dropdown__btns
          button.dropdown__btn-minus
          .dropdown__number
          button.dropdown__btn-plus
      .dropdown__item
        .dropdown__item-title-two= options.itemTitleTwo
        .dropdown__btns
          button.dropdown__btn-minus
          .dropdown__number
          button.dropdown__btn-plus


  script.
    let dropDefault = document.querySelector('.dropdown__default');
    let dropExpand = document.querySelector('.dropdown__expand');

    dropDefault.addEventListener("click", function() {
      dropExpand.classList.add('dropdown__expand_visible');
      dropDefault.classList.add('dropdown__default_border-dark');
    })

    window.addEventListener("click", function(e) {
      if (!e.target.matches('.dropdown *')) {
        if (dropExpand.classList.contains('dropdown__expand_visible')) {
          dropExpand.classList.remove('dropdown__expand_visible');
          dropDefault.classList.remove('dropdown__default_border-dark');
        }
      }
    })

    let minus = document.querySelector('.dropdown__btn-minus');
    
    let plus = document.querySelector('.dropdown__btn-plus');
    plus.setAttribute("disabled", '');
    plus.classList.add('dropdown__disabled')
    
    let numberBeds = document.querySelector('.dropdown__number');
    
    let numberDefault = 2;
    numberBeds.innerText = numberDefault;
    
    let textDefault = document.querySelector('.dropdown__default');
    textDefault.innerText = `${numberDefault} спальни,`;

    minus.addEventListener("click", function() {
      numberDefault --;
      if (numberDefault == 1) {
        minus.setAttribute("disabled", '');
        minus.classList.add('dropdown__disabled')
        plus.removeAttribute("disabled");
        plus.classList.remove('dropdown__disabled')
      }
      numberBeds.innerText = numberDefault;
      textDefault.innerText = `${numberDefault} спальня,`;
    })

    plus.addEventListener("click", function() {
      numberDefault ++;
      if (numberDefault == 2) {
        plus.setAttribute("disabled", '');
        plus.classList.add('dropdown__disabled')
        minus.removeAttribute("disabled");
        minus.classList.remove('dropdown__disabled')
      }
      numberBeds.innerText = numberDefault;
      textDefault.innerText = `${numberDefault} спальни,`;
    })
