mixin dropdown(options)
  -
    let idDropdown = options.idDropdown
    let itemTitleOne = options.itemTitleOne
    let itemTitleTwo = options.itemTitleTwo

  .dropdown
    .dropdown__label= options.label
    .dropdown__default
    .dropdown__expand
      .dropdown__item
        .dropdown__item-title-one= options.itemTitleOne
        .dropdown__btns
          button.dropdown__btn-minus
          .dropdown__numberFirst
          button.dropdown__btn-plus
      //- .dropdown__item
      //-   .dropdown__item-title-two= options.itemTitleTwo
      //-   .dropdown__btns
      //-     button.dropdown__btn-minus
      //-     .dropdown__numberSecond
      //-     button.dropdown__btn-plus


  script.
    let dropDefault = document.querySelector('.dropdown__default');
    let dropExpand = document.querySelector('.dropdown__expand');

    function isExpanded() {
      dropExpand.classList.add('dropdown__expand_visible');
      dropDefault.classList.add('dropdown__default_border-dark');
    }
    
    function isDefault() {
      dropExpand.classList.remove('dropdown__expand_visible');
      dropDefault.classList.remove('dropdown__default_border-dark');
    }

    dropDefault.addEventListener("click", isExpanded);
    //- dropDefault.addEventListener("click", function(e) {
    //-   e.stopPropagation();
    //-   if(dropDefault.classList.contains('dropdown__default_border-dark')) {
    //-     isDefault();
    //-   }
    //- });

    document.addEventListener("click", function(e) {
      if (!e.target.matches('.dropdown *')) {
        if (dropExpand.classList.contains('dropdown__expand_visible')) {
          isDefault();
        }
      }
    })
    

    let minus = document.querySelector('.dropdown__btn-minus');
    
    let plus = document.querySelector('.dropdown__btn-plus');
    isDisabled(plus);

    let numberBedrooms = document.querySelector('.dropdown__numberFirst');
    
    let numberDefaultFirst = 2;
    numberBedrooms.innerText = numberDefaultFirst;
    let textDefault = document.querySelector('.dropdown__default');
    textDefault.innerText = `${numberDefaultFirst} спальни,`;


    //- let numberBeds = document.querySelector('.dropdown__numberSecond');
    //- let numberDefaultSecond = 2;
    //- numberBeds.innerText = numberDefaultSecond;
    //- textDefault.innerText = `${numberDefaultFirst} спальни, ${numberDefaultSecond} кровати...`;

    function isDisabled (btn) {
      btn.setAttribute("disabled", '');
      btn.classList.add('dropdown__disabled');
    }

    function isActivated (btn) {
      btn.removeAttribute("disabled", '');
      btn.classList.remove('dropdown__disabled');
    }

    let dropdownBtns = document.querySelector('.dropdown__btns');
    
    dropdownBtns.addEventListener("click", function() {
      let target = event.target;
      
      if(target == minus) {
        numberDefaultFirst --;
        if (numberDefaultFirst == 1) {
          isDisabled(minus);
          isActivated(plus);
        }
      }

      if(target == plus) {
        numberDefaultFirst ++;
        if (numberDefaultFirst == 2) {
          isDisabled(plus);
          isActivated(minus);
        }
      }
      numberBedrooms.innerText = numberDefaultFirst;
      textDefault.innerText = `${numberDefaultFirst} спальня,`;
    })
    

      
    


    //- let itemOne = document.querySelector('.dropdown__item');

    //- class ChangeNumber {
    //-   constructor(btnOne, btnTwo) {
    //-     this.btnOne = btnOne;
    //-     this.btnTwo = btnTwo;
    //-   }

    //-   isDisabled() {
    //-     this.btnOne.setAttribute("disabled", '');
    //-     this.btnTwo.setAttribute("disabled", '');

    //-   }



    //- }

    //- let itemOne = new ChangeNumber(minus, plus)
