mixin dropdown(options)
  -
    let idDropdown = options.idDropdown;

  .dropdown
    .dropdown__label= options.label
    .dropdown__default
    .dropdown__expand
      +item({itemTitle: 'спальни', number: numberAmenities})
      //- +item({itemTitle: 'кровати', number: numberAmenities})
      //- +item({itemTitle: 'ванные комнаты'})


  script.
    let dropDefault = document.querySelector('.dropdown__default');
    let dropExpand = document.querySelector('.dropdown__expand');

    function isExpanded() {
      dropExpand.classList.add('dropdown__expand_visible');
      dropDefault.classList.add('dropdown__default_border-dark');
    }
    
    function isDefault() {
      dropExpand.classList.remove('dropdown__expand_visible');
      dropDefault.classList.remove('dropdown__default_border-dark');
    }

    dropDefault.addEventListener("click", isExpanded);
    
    document.addEventListener("click", function(e) {
      if (!e.target.matches('.dropdown *')) {
        if (dropExpand.classList.contains('dropdown__expand_visible')) {
          isDefault();
        }
      }
    })
    

mixin item(options)
  -
    let itemTitle = options.itemTitle;

  .item
    .item__title= options.itemTitle
    .item__btns
      button.item__btn-minus
      .item__number= options.number
      button.item__btn-plus

  script.

    let minus = document.querySelector('.item__btn-minus');
    let plus = document.querySelector('.item__btn-plus');
    isDisabled(plus);

    let numberAmenities = document.querySelector('.item__number');
    
    let numberDefault = 2;
    numberAmenities.innerText = numberDefault;

    let textDefault = document.querySelector('.dropdown__default');
    textDefault.innerText = `${numberDefault} спальни,`;


    //- let numberBeds = document.querySelector('.dropdown__numberSecond');
    //- let numberDefaultSecond = 2;
    //- numberBeds.innerText = numberDefaultSecond;

    function isDisabled (btn) {
      btn.setAttribute("disabled", '');
      btn.classList.add('dropdown__disabled');
    }

    function isActivated (btn) {
      btn.removeAttribute("disabled", '');
      btn.classList.remove('dropdown__disabled');
    }

    let itemBtns = document.querySelector('.item__btns');
    
    itemBtns.addEventListener("click", function() {
      let target = event.target;
      
      if(target == minus) {
        numberDefault --;
        if (numberDefault == 1) {
          isDisabled(minus);
          isActivated(plus);
        }
      }

      if(target == plus) {
        numberDefault ++;
        if (numberDefault == 2) {
          isDisabled(plus);
          isActivated(minus);
        }
      }
      numberAmenities.innerText = numberDefault;
      textDefault.innerText = `${numberDefault} спальня,`;
    })
    //- textDefault.innerText = `${numberDefaultFirst} спальни, ${numberDefaultSecond} кровати...`;
    

      
    


    //- let itemOne = document.querySelector('.dropdown__item');

    //- class ChangeNumber {
    //-   constructor(btnOne, btnTwo) {
    //-     this.btnOne = btnOne;
    //-     this.btnTwo = btnTwo;
    //-   }

    //-   isDisabled() {
    //-     this.btnOne.setAttribute("disabled", '');
    //-     this.btnTwo.setAttribute("disabled", '');

    //-   }



    //- }

    //- let itemOne = new ChangeNumber(minus, plus)
