mixin rate({ starsChecked=0, isChecked=false })
  
  - const starChecked = isChecked ? "rate__star_checked" : "";

  .rate
    if starsChecked < 5
    - const starsNotChecked = 5 - starsChecked;
    - for(let i = starsNotChecked; i > 0; i--)
      input.rate__input( type="radio" id=`${i}stars` name="rate" value=`${i}` )
      label.rate__star( for=`${i}stars` )
    - for(let i = starsChecked; i > 0; i--)
      input.rate__input( type="radio" id=`${i}stars` name="rate" value=`${i}` )
      label.rate__star( for=`${i}stars`  class = starChecked )
