mixin textField({ type="", placeholder="", value="", isFocused=false, isUppercase=false, withButton=false, buttonSubscribed=false, inputmode="", dropdownDateId="", isReadonly=true })
  -
    const focused = isFocused ? "textField_isFocused" : "";
    const textUppercase = isUppercase ? "textField__input_isUppercase" : "";
    const inputWithButton = withButton ? "textField__input_withButton" : "";

    const inputAttributes = {
      class: ['textField__input', textUppercase, inputWithButton],
      type: type,
      placeholder: placeholder,
      value: value,
      inputmode: inputmode,
      max: "2030-01-01",
      "data-id": dropdownDateId,
      readonly: isReadonly
    }

    const buttonAttributes = {
      class: ["textField__buttonSubscribed"],
      type: "submit",
      name: "subscribe"
    }

  .textField(class=focused)
    input&attributes(inputAttributes)
    if (buttonSubscribed)
       button&attributes(buttonAttributes)
      
